.button {
  font-size: 0.8rem;
  text-transform: initial;
  min-width: 150px;
  --color: white;
  box-shadow: var(--button-shadow);
  background: linear-gradient(
    90deg,
    var(--ion-color-primary) 50%,
    var(--ion-color-primary-shade) 100%
  );
}
