:host-context(.can-go-back) {
  .back-button {
    display: block;
  }
}

.back-button {
  color: var(--text-color-primary);
}

.title {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}
