<app-header [title]="'rejestracja'"> </app-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #ngForm="ngForm">
    <ion-img class="w-60 mx-auto mt-20" [src]="'assets/img/logo.png'"></ion-img>
  
    <div class="w-70 mx-auto mt-20">
      <app-input class="mb-8" [placeholder]="'Adres email'" [control]="formGroup.controls.email">
        <ion-icon icon-start name="person-outline"></ion-icon>
      </app-input>
      <app-input class="mb-8" [placeholder]="'Hasło'" [type]="'password'" [control]="formGroup.controls.password">
        <ion-icon icon-start name="lock-closed-outline"></ion-icon>
      </app-input>
      <app-input class="mb-8" [placeholder]="'Powtórz hasło'" [type]="'password'" [control]="formGroup.controls.passwordRepeat">
        <ion-icon icon-start name="lock-closed-outline"></ion-icon>
      </app-input>
      <app-error-message *ngIf="errorMsg && ngForm.submitted">{{errorMsg}}</app-error-message>
      <app-input class="mb-8" [placeholder]="'Imię'" [control]="formGroup.controls.firstName">
        <ion-icon icon-start name="person-outline"></ion-icon>
      </app-input>
      <app-input class="mb-8" [placeholder]="'Nazwisko'" [control]="formGroup.controls.lastName">
        <ion-icon icon-start name="person-outline"></ion-icon>
      </app-input>
  
      <app-radio-group [options]="genderOptions" [title]="'Płeć'" [control]="formGroup.controls.gender">
      </app-radio-group>
    </div>
  
    <div class="flex center mt-32">
      <app-auth-button> Zarejestruj się </app-auth-button>
    </div>
  
    <div class="mt-24 flex center">
      <app-button [variant]="'text'" (click)="handleGoToLogin()">
        mam już konto
      </app-button>
    </div>
  </form>
</ion-content>
