
:host {
  display: block;
  width: 100%;
}

.input {
  border-bottom: 1px solid #eee;
  &.has-focus {
    transition: 0.5s;
    border-color: var(--ion-color-primary-shade);
  }
  &.ion-touched.ion-invalid {
    border-color: var(--ion-color-danger);
    --color: var(--ion-color-danger);
  }
}
