<header app-header>
  <app-auth-go-back-btn leftSlot></app-auth-go-back-btn>
</header>
<div class="page-container">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="formGroup.controls.email" />
      <mat-error *ngIf="formGroup.controls.email.hasError('email') && !formGroup.controls.email.hasError('required')">
        Wpisz poprawny adres e-mail
      </mat-error>
      <mat-error *ngIf="formGroup.controls.email.hasError('required')"> Pole jest wymagane </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" [formControl]="formGroup.controls.password" />
      <mat-error *ngIf="formGroup.controls.password.hasError('required')"> Pole jest wymagane </mat-error>
    </mat-form-field>
    <div *ngIf="isShowLoginError" style="color: red">Email i/lub hasło są nieprawidłowe</div>
    <button mat-raised-button type="submit" [disabled]="isButtonDisabled" color="primary">Zaloguj</button>
  </form>
</div>
