:host-context(.ng-submitted) {
  .radio-group.ion-invalid {
    .radio-btn {
      --color: var(--ion-color-danger);
      --color-checked: var(--ion-color-danger);
    }
  }
}

.radio-btn {
  --color-checked: var(--ion-color-primary);
}
